.character-item {
    flex: 1 1 400px;
    max-width: 500px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 5px;
}

.character-heading {
    height: 70px;
    background-color: #008987; 
    color: #fff;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
}

.character-body {
    flex: 1 1 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.character-details {

}

.character-details div {
   padding: 10px 0;
}

.character-btn {
    padding: 5px 10px;
    border: 2px solid #008987;
    background-color: transparent;
    color: #111;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 500;
}

.character-btn:hover {
    background-color: #008987;
    color: #fff;
}

@media(max-width:500px) {
    .character-item {
        flex-basis: 300px;
    }
}