.character-item {
    width: 300px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.character-details {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.character-img img {
    height: 300px;
    width: 100%;
    border-radius: 10px 10px 0 0;
}


.character-btn {
    padding: 5px 10px;
    border: 2px solid #008987;
    background-color: transparent;
    color: #111;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 500;
}

.character-btn:hover {
    background-color: #008987;
    color: #fff;
}