@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #008987;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #F5F7FA;
}

a {
  text-decoration: none;
  color: initial;
}

ul {
  list-style-type: none;
}

.app-container {
  max-width: 1030px;
  margin: 0 auto;
}

@media(max-width:768px) {
  .app-container {
     padding:0 10px;
  }
}